<h1><%= @group.name %></h1>
<h3>Staff</h3>
<ul>
  <%- @group.members.order(:role).reverse_order.each do |member| %>
    <li><%= member.user.name %> - <%= member.title %> (<%= member.role %>)</li>
  <%- end %>
</ul>
<h3>Current Fansubs</h3>
<ul>
  <%= render partial: 'fansubs/fansub', collection: @group.fansubs.active %>
</ul>
