<h1><%= @group.name %></h1>
<h3>Staff</h3>
<ul>
  <%- @group.members.each do |member| %>
    <li><%= member.user.name %> - <%= member.title %> (<%= member.role %>)</li>
  <%- end %>
</ul>
<h3>Fansubs</h3>
<ul>
  <%- @group.fansubs.each do |fansub| %>
    <li>
      <%= fansub.show.name %> - <%= fansub.current_release.source.number %>
      <ul>
        <%- fansub.current_release.staff.each do |staff| %>
          <%- if staff.finished? %>
            <li>✓ <%= staff.user.name %> - <%= staff.position.name %></li>
          <%- else %>
            <li><%= staff.user.name %> - <%= staff.position.name %></li>
          <%- end %>
        <%- end %>
      </ul>
    </li>
  <%- end %>
</ul>
